<form
  [formGroup]="authForm"
  class="auth-form-container d-flex flex-column justify-content-center align-items-center"
>
  <div class="auth-form w-25 py-3">
    <h2 class="auth-title py-2 px-3">
      {{
        isSignUpPage
          ? "You don't have an account, yet? Register completely free and become the best chef!"
          : "Log in here to see your favorite recipes!"
      }}
    </h2>
    <div class="px-5 pb-3">
      <mat-form-field appearance="fill" class="w-100 my-2">
        <mat-label>Email: </mat-label>
        <input matInput type="text" formControlName="email" />
        <mat-error *ngIf="authForm.controls['email']?.hasError('required')">
          Please enter an email!
        </mat-error>
        <mat-error *ngIf="authForm.controls['email']?.hasError('email')">
          Please enter a valid email!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100 my-2">
        <mat-label>Password: </mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="authForm.controls['password']?.hasError('required')">
          Please enter a password!
        </mat-error>
        <mat-error *ngIf="authForm.controls['password']?.hasError('minlength')">
          Please enter a password with a minimum length of 6 characters!
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isSignUpPage" appearance="fill" class="w-100">
        <mat-label>Repeat the password: </mat-label>
        <input matInput type="password" formControlName="repeatedPassword" />
        <mat-error *ngIf="authForm.controls['repeatedPassword']?.hasError('required')">
          Please, repeat the password!
        </mat-error>
      </mat-form-field>

      <div class="d-flex justify-content-end mx-3 mt-4 flex-column text-end">
        <button mat-raised-button class="pink-button" (click)="submit()">
          {{ isSignUpPage ? "Sign up" : "Login" }}
        </button>
        <p class="pt-3">
          {{
            isSignUpPage
              ? "Already have an account? Login from"
              : "Don't have an account? Signup "
          }}
          <a class="auth-link" (click)="changePages()">here</a>!
        </p>
      </div>
    </div>
  </div>
</form>
