$color-hot-pink: #EF7C8E;
$color-rose-water : #d8a7b1;
$color-mint: #B6E2D3;
$color-cream: #e8d4cc;
$color-rose : #bf7c87;
$color-rose-transparent-3: #bf7c8796;
$color-light-red: rgba(163, 59, 59, 0.121);
$color-green-apple: rgb(135, 175, 74);
$color-dark-green-apple: rgb(113, 152, 54);
$color-grey: #e8d4cc7a;
$color-solomon: rgb(214, 109, 109);
$color-dark-solomon: rgb(192, 56, 56);
$color-carrot-transparent-4: rgba(255, 149, 0, 0.4);
$color-dark: rgb(92, 90, 90);

$color-black: #000;
$color-white: #fff;
$color-red: #f00;
$color-black-transparent-4: rgba(0, 0, 0, 0.4);
